@media only screen and (max-width: 1340px) {
    .about p {
        width: 300px;
    }
    .experience {
        display: flex;
        justify-content: center;
        align-items: baseline;
        flex-direction: column;
    }
    .experience p {
        width: 610px;
    }
    .dreams {
        width: 610px;
    }
}

@media only screen and (max-width: 700px) {
    .about {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .about-text {
        margin-left: 0px;
        margin-top: 10px;
        text-align: center;
    }
    .about p {
        width: 450px;
        text-align: center;
    }
    .experience {
        align-items: center;
    }
    .experience p {
        width: 450px;
        text-align: center;
    }
    .dreams {
        width: 450px;
        margin-bottom: 100px;
        text-align: center;
    }
}

@media only screen and (max-width: 400px) {
    .about {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .about-text {
        margin-left: 0px;
        margin-top: 10px;
        text-align: center;
    }
    .about p {
        width: 280px;
        text-align: center;
    }
    .experience {
        align-items: center;
    }
    .experience p {
        width: 280px;
        text-align: center;
    }
    .dreams {
        width: 280px;
        margin-bottom: 100px;
        text-align: center;
    }
}