.contact-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-page h2 {
    border-bottom: 3px solid #d83032;
    padding: 5px 20px;
}

.social-medias {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #191818;
    width: 1500px;
    height: 100px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 100px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}

.contact-icon {
    margin: 100px;
    font-size: 40px;
}

a:hover {
    color: #d83032;
}

.contact-form {
    margin-top: 20px;
    background-color: #191818;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 50px 0px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 100px;
    margin-right: 100px;
}

label {
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 25px;
    letter-spacing: 1px;
}

input[type="text"] {
    border: 2px solid #FFFFFF;
    background: #ffffff14;
    ;
    color: #FFFFFF;
    width: 25em;
    margin-top: 5px;
    border-radius: 2px;
    padding: 5px;
    height: 30px;
    padding-left: 10px;
}

.line-form {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 10px;
}

.contact-form h2 {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 70px;
    color: #FFFFFF;
    font-weight: 900;
}

button {
    padding: 10px 160px;
    ;
    background: linear-gradient(#4cd137, #44bd32);
    color: white;
    border: transparent;
    border-radius: 2px;
    margin-top: 10px;
    cursor: pointer;
}

::placeholder {
    color: #FFFFFF;
    font-size: 12px;
    opacity: .8;
}

.left-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    float: left;
}

.left-form img {
    width: 50%;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

textarea {
    border: 2px solid #FFFFFF;
    background: #ffffff14;
    color: #FFFFFF;
    border-radius: 2px;
    padding: 5px;
    padding-left: 10px;
    resize: none;
    width: 25em;
    height: 100px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
}